$font-family: "Verdana", sans-serif;

body {
  font-family: $font-family;
}

h1 {
  text-align: center;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  padding: 3px;
  border: 1px solid #cccccc;
  &.download {
    font-weight: bold;
    &.geoJSON {
      background: #91cca3 !important;
    }
    &.GPX {
      background: #ccaccb !important;
    }
  }
}